<h1>
    <% if params[:operation] == "add" %>
        <%= (params[:number1].to_i + params[:number2].to_i).to_s %>
    <% elsif params[:operation] == "subtract" %>
        <%= (params[:number1].to_i - params[:number2].to_i).to_s %>
    <% elsif params[:operation] == "multiply" %>
        <%= (params[:number1].to_i * params[:number2].to_i).to_s %>
    <% elsif params[:operation] == "divide" %>
        <%= (params[:number1].to_i / params[:number2].to_i).to_s %>
    <% end %>
</h1>